.tabs, .tabs2, .tabs3 {
    background-color: #414042;
    width: 100%;
    z-index: 101;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
	color: #f5f5f5;
	border-bottom: 2px solid #D1D3D4;
}

.tabs2 {
    font-size: 12px;
	background-color: #414042;
}
.tabs3 {
    font-size: 12px;
	background-color: #414042;
}

.tablist {
    margin: 0;
    padding: 0;
    display: table;
}

.tablist li {
    float: left;
    display: table-cell;
    line-height: 36px;
    list-style: none;
}

.tablist a {
    display: block;
    padding: 0 20px;
    font-weight: bold;
    color: #f5f5f5;
    text-decoration: none;
    outline: none;
}

.tabs3 .tablist a {
    padding: 0 10px;
}

.tablist a:hover {
    background-color: #8DC63F;
    color: #f5f5f5;
    text-decoration: none;
}

.tablist li.current a {
    background-color: #8DC63F;
    color: #f5f5f5;
    text-decoration: none;
}
