/**
 * Reference at http://qt-project.org/doc/qt-5.0/qtwidgets/stylesheet-examples.html
 * @author SzeYan Li
**/

/*---------------------
 * COLOR SCHEME
 *    6F2E50 - purple
 *    F6AACA - pink
 *    F5F5F5 - white
 *    D1D3D4 - light grey
 *    414042 - dark grey
 *    8DC63F - green
 *    FDB71F - gold
 *---------------------*/

/******************************
 * DEFAULTS
 *********************/
QWidget, QDialog,QMainWindow {
}

QComboBox, QLineEdit, QSpinBox, QTextEdit, QListView {
    font-size: 11pt;
    background-color: #F5F5F5;
}

QCheckBox {
    color: #F5f5f5;
}

QLineEdit,QFrame {
    border-width: 2px;
    padding: 0px;
    border-style: solid;
    border-radius: 0px;
    margin: 0;
    border-color: #F5F5F5;
}

QLineEdit:focus, QFrame:focus, QTextEdit:focus {
    border-width: 2px;
    border-color: #F5F5F5;
}

QLabel {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    font-size: 12pt;
}

QScrollBar:vertical {
    border: 0px solid grey;
    background: #414042;
    width: 15px;
    margin: 24px 0 24px 0;
}

QScrollBar::handle:vertical {
    background: #8DC63F;
    min-height: 20px;
}

QScrollBar::add-line:vertical {
    border: 0px solid grey;
    background: #414042;
    height: 22px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    border: 0px solid grey;
    background: #414042;
    height: 22px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    border: 0px solid grey;
    width: 3px;
    height: 3px;
    background: #D1D3D4;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

QListView {
    alternate-background-color: #F5F5F5;
    show-decoration-selected: 1;
    border: 0;
    outline: 0;
}

QListView::item:selected {
    border: 0;
    outline: 0;
}
/* what happens when you click on the item and you're not focused on the list */
QListView::item:selected:!active {
    border: 0;
    outline: 0;
    background: #414042;
    color: #F5F5F5;
}
/* what happens when you click on the item and you're focused on the list */
QListView::item:selected:active {
    border: 0;
    outline: 0;
    background: #414042;
    color: #F5F5F5;
}
/* what happens when you hover over the item */
QListView::item:hover {
    background: #414042;
    color: #F5F5F5;
}

QToolTip {
    color: #414042;
    background-color: #F5F5F5;
    border: 1px solid #D1D3D4;
    border-radius: 0;
}

/******************************
 * CUSTOM BUTTONS
 *********************/
#test_button {
    background-color: #FDB71F;
    color: #F5F5F5;
    border-width: 0px;
    border-color: none;
    border-style: solid;
    border-radius: 0;
    font-size: 12pt;
    padding: 2px 0px 2px 0px;
}

#test_button:hover {
    background-color: #FDB71F;
}

#test_button:pressed {
    padding-left: 3px;
    padding-top: 4px;
    background-color: #FDB71F;
}

#minButton {
    margin: 0;
    padding: 0;
    background: none;
    border-radius: 0;
    border: 0;
    image: url(:/src/resource/mini.png);
}

#minmaxButton {
    margin: 0;
    padding: 0;
    background: none;
    border-radius: 0;
    border: 0;
    image: url(:/src/resource/minmax.png);
}

#quitButton {
    margin: 0;
    padding: 0;
    background: none;
    border-radius: 0;
    border: 0;
    image: url(:/src/resource/close.png);
}

#minButton:hover, #minButton:pressed {
    image: url(:/src/resource/mini_i.png);
    border: 0;
}

#minmaxButton:hover, #minmaxButton:pressed {
    image: url(:/src/resource/minmax_i.png);
    border: 0;
}

#quitButton:hover, #quitButton:pressed {
    image: url(:/src/resource/close_i.png);
    border: 0;
}

#resizer, #resizer:focus, #resizer:hover {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    border: 0px solid #D1D3D4;
    image: url(:/src/resource/resize.png);
}

#login_button, #register_button, #submit_button, #cancel_button {
    background-color: #FDB71F;
    color: #F5F5F5;
    border-width: 0px;
    border-color: none;
    border-style: solid;
    border-radius: 0;
    font-size: 16pt;
    padding: 2px 0px 2px 0px;
}

#login_button:hover, #register_button:hover, #submit_button:hover, #cancel_button:hover {
    background-color: #FDB71F;
}

/* Increase the padding, so the text is shifted when the button is pressed. */
#login_button:pressed, #register_button:pressed, #submit_button:pressed, #cancel_button:pressed {
    padding-left: 3px;
    padding-top: 4px;
    background-color: #FDB71F;
}

#enter_button {
    background-color: #FDB71F;
    color: #F5F5F5;
    border-width: 0px;
    border-color: none;
    border-style: solid;
    border-radius: 0;
    font-size: 14pt;
    padding: 2px 4px 2px 4px;
}

#enter_button:hover {
    background-color: #FDB71F;
}

#enter_button:pressed {
    padding-left: 3px;
    padding-top: 4px;
    background-color: #FDB71F;
}



#fontButton {
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 0;
    background: #6F2E50 url(:/src/resource/font.png) no-repeat center;
}

#resetButton {
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 0;
    background: #6F2E50 url(:/src/resource/reset.png) no-repeat center;
}

#soundButton {
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 0;
    background: #6F2E50 url(:/src/resource/sound.png) no-repeat center;
}

#soundButton:hover, #soundButton:pressed {
    border: 0;
}

#resetButton:hover, #resetButton:pressed {
    border: 0;
}

#fontButton:hover, #fontButton:pressed {
    border: 0;
}


/******************************
 * CUSTOM CHECKBOX
 *********************/
#login_check, #login_check:focus, #login_check:hover,
#forgot_check, #forgot_check:focus, #forgot_check:hover,
#register_check, #register_check:focus, #register_check:hover {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    border: 0px solid #D1D3D4;
    color: #F5F5F5;
    font-size: 12pt;
}

#remember_box {
    color: #F5F5F5;
    font-size: 12pt;
    padding: 0;
    border: 0;
}

#remember_box::indicator:unchecked {
    image: url(:/src/resource/check_clr.png);
    border: 0;
}

#remember_box::indicator:unchecked:hover {
    image: url(:/src/resource/check_clr.png);
    border: 0;
}

#remember_box::indicator:unchecked:pressed {
    image: url(:/src/resource/check_dgray.png);
    border: 0;
}

#remember_box::indicator:checked {
    image: url(:/src/resource/check_dgray.png);
    border: 0;
}

#remember_box::indicator:checked:hover {
    image: url(:/src/resource/check_dgray.png);
    border: 0;
}

#remember_box::indicator:checked:pressed {
    image: url(:/src/resource/check_clr.png);
    border: 0;
}

#remember_box::indicator:indeterminate:hover {
    image: url(:/src/resource/check_dgray.png);
    border: 0;
}

#remember_box::indicator:indeterminate:pressed {
    image: url(:/src/resource/check_dgray.png);
    border: 0;
}

/******************************
 * CUSTOM LABELS
 *********************/
#title_label {
    color: #F5F5F5;
    margin-bottom: 0px;
    font-size: 72pt;
}

#pwd_label, #username_label, #email_label, #pwd_again_label {
    color: #F5F5F5;
    font-size: 16pt;
}

#font_label, #color_label {
    color: #F5F5F5;
    margin: 0;
    padding: 0px;
    font-size: 12pt;
}

#forgot_label {
    padding: 0px;
    border: 0;
    margin: 0;
    color: #F6AACA;
    text-decoration: underline;
    font-size: 11pt;
}

#credit_label {
    padding: 0 0 0 3px;
    border: 0;
    margin: 0;
    color: #F6AACA;
    text-decoration: underline;
    font-size: 10pt;
}

#about_title, #forgot_title, #register_title {
    padding: 0 0 0px 10px;
    border: 0;
    margin: 0;
    background-color: #F5F5F5;
    color: #414042;
    font-size: 13pt;
}

#about_text {
    padding: 0 0 0px 10px;
    border: 0;
    margin: 0;
    color: #F5F5F5;
    font-size: 10.5pt;
}

#pwd_info, #username_info {
    color: #F6AACA;
    font-size: 16pt;
}

/******************************
 * CUSTOM LINEEDIT/TEXTEDIT
 *********************/
#username_edit,
 #pwd_edit {
    color: #414042;
    font-size: 12pt;
}


/******************************
 * CUSTOM OTHER
 *********************/
#Login {
    background-color: #6F2E50;
}
